<div id="ywCalendar">
    <div class="calendarNavi">
        <a class="">3</a>
        /
        <a>4</a>
        /
        <a>5</a>
        /
        <a>6</a>
        /
        <a>7</a>
        /
        <a>8</a>
        /
        <a>9</a>
        /
        <a>10</a>
        /
        <a>11</a>
        /
        <a>12</a>
        /
        <a>13</a>
        /
        <a>14</a>
        /
        <a>15</a>
    </div>
    <div class="calendarCont">
        <cms:article catalogid="1181" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1182" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1183" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1184" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1185" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1186" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1187" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1188" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1189" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1190" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1191" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1192" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>
        <cms:article catalogid="1193" level="CurrentAndChild" count="2" begin="1">
            <div class="calendarEle clearfix">
                <z:list count="1" begin="1">
                    <div class="calendarRd fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
                <z:list count="1" begin="2">
                    <div class="calendarZx fl">
                        <a href="${Article.Link}" target="_blank" title="${Article.Title}">
                            ${charWidth(Article.Summary,100,"")}
                        </a>
                    </div>
                </z:list>
            </div>
        </cms:article>

        <script>
            function checkToday() {
                var starter=new Date(2017, 2, 3);
                naviEle=$(".calendarNavi a");
                contentEle=$(".calendarEle");
                var today=new Date();
                var deltaDay=Math.floor((today-starter)/1000/3600/24);
                //                      console.warn(deltaDay);
                //                      console.warn(starter.toLocaleString());
                //                      console.warn(today.toLocaleString());
                if(deltaDay<0) deltaDay=0;
                if(deltaDay>12)deltaDay=12;
                naviEle.eq(deltaDay).addClass("curr");
                contentEle.eq(deltaDay).addClass("curr");
                //                      console.log((today-starter)/1000/3600/24);
            }
            checkToday();
            function calendarVectAlign() {
                var defaultB=25;
                //                              var defaultHe=102;
                var targetC=60;
                var vecAlignEle=$(".calendarEle div a");
                vecAlignEle.each(
                    function() {
                        //                                  currentEle=$(this);
                        //                                  targetA=currentEle.height();
                        //                                  targetB=targetC-0.5*parseInt(targetA);
                        //                                  console.warn($(this).height());
                        $(this).parent().css("padding-top", targetC-0.5*parseInt($(this).height()));
                        //                                  currentEle.parent().css("padding-top",targetC-0.5*parseInt(targetA));
                    }
                )
            }
            calendarVectAlign();
            function switcher(navi, content) {
                var naviEle=$(navi);
                var contentEle=$(content);
                naviEle.mouseenter(
                    function() {
                        var currentEle=$(this);
                        var currentIndex=$(this).index(naviEle.selector);
                        //                                  console.log($(this).hasClass("disabled"));
                        if(!$(this).hasClass("disabled")) {
                            naviEle.each(
                                function() {
                                    $(this).removeClass("curr")
                                }
                            );
                            contentEle.each(
                                function() {
                                    $(this).removeClass("curr")
                                }
                            );
                            currentEle.addClass("curr");
                            contentEle.eq(currentIndex).addClass("curr");
                            calendarVectAlign();
                        }
                        // console.warn()}
                    }
                )
            }
            switcher(".calendarNavi a", ".calendarEle");
        </script>
    </div>
</div>