<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>${Catalog.Name}——人民政协网</title>
        <style>
            *{
                font-family:"微软雅黑","Microsoft Yahei","SimSun","宋体","Arial Narrow";
                border:none;
                margin:0px;
                padding:0px;
                letter-spacing:0;
                font-weight:normal;
                /*                font-size:0px;*/
            }
            /*
            p{
            text-indent: 2em;
            }
            */
            b,strong{
                font-weight:bold;
            }
            ul,ol,li{
                list-style:none;
                list-style-position:inside;
            }
            a{
                text-decoration:none;
                cursor:pointer;
            }
            #header,#body,#footer{
                width:100%;
                position:relative;
                overflow:hidden;
            }
            .contentBar{
                min-height:1px;
                margin:0 auto;
                position:relative;
                /*                background-color:red;*/
            }
            .fullBar{
                min-height:1px;
                width:100%;
                margin:0 auto;
                position:relative;
                /*                background-color: yellow;*/
            }
            .fl{
                float:left;
            }
            .fr{
                float:right;
            }
            .clearfix:after{
                content:".";
                display:block;
                height:0;
                clear:both;
                visibility:hidden
            }

            .clearfix {
                clear: both;
            }
            .inline{
                display:inline-block;
                display:-moz-inline-block;
                zoom:1;
                *display:inline;
                overflow:hidden;
            }
        </style>
        <link rel="stylesheet" href="../../css/2017zt/2017qglhcss.css">
        <script src="../../js/getByclass.js"></script>
        <script src="../../js/moveGood.js"></script>
        <script src="../../js/jquery-1.8.3.min.js"></script>
        <script src="http://www.rmzxb.com.cn/js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
        <!--   头部-->
        <div id="header">
            <img class="headerImg" src="../../images/2017zt/20170303qglh/detailheader.jpg" alt="">
            <div class="contentBar">
                <!-- 广告 -->
                <a href="javascript:void();">
                    <!--                <img src="#" alt="">-->
                </a>
                <p class="inline">首页>专题>2017全国两会专题报道><span>要闻</span></p>
            </div>
        </div>
        <!--    中间内容区域-->
        <div id="body">
            <div class="contentBar">
                <!--                内容区域-->
                <div class="fl articleBody">
                    <div class="maincatalog">
                        <span>委员会客厅</span>
                        <img src="../../images/2017zt/20170303qglh/2017_icon.jpg" alt="">
                    </div>

                    <!--列表内容-->
                    <ul class="atList atVideoList">
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <h1>
                                <a href="javascript:void();" target="_blank">
                                    在十二届全国人大四次会议记者会上李克强总理答中外记者问
                                </a>
                            </h1>
                            <a class="inline imgwrap" href="javascript:void();" target="">
                                <img src="../../images/2017zt/20170303qglh/list_img350_216.jpg" alt="">
                                <span></span>
                            </a>
                        </li>
                        
                    </ul>

                </div>
                <!--                右侧边栏-->
                <div class="fr slideRight" id="slideRight">
                    <!--                    要闻开始-->
                    <div class="wrap ywSlide" id="ywSlide">
                    <a class="inline catalog" href="javascript:void();" target="_blank">
                    <img src="../../images/2017zt/20170303qglh/yw.jpg" alt="">
                    </a>
                    <div class="main">
                    <div class="imgs">
                    <a class="inline fl img2 imgwrap" href="javascript:void;" target="_blank">
                    <img src="../../images/2017zt/20170303qglh/170x110.jpg" alt="">
                    <div class="shadow">
                    <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                    </div>
                    </a>
                    <a class="inline fl img2 imgwrap" href="javascript:void;" target="_blank">
                    <img src="../../images/2017zt/20170303qglh/170x110.jpg" alt="">

                    <div class="shadow">
                    <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                    </div>
                    </a>
                    </div>
                    <ul class="list">
                    <li><a href="javascript:void;" target="_blank">在十二届全国人大四次会议记者会上李克强总理答中外</a></li>
                    <li><a href="javascript:void;" target="_blank">在十二届全国人大四次会议记者会上李克强总理答中外</a></li>
                    <li><a href="javascript:void;" target="_blank">在十二届全国人大四次会议记者会上李克强总理答中外</a></li>
                    <li><a href="javascript:void;" target="_blank">在十二届全国人大四次会议记者会上李克强总理答中外</a></li>
                    </ul>
                    </div>
                    </div>
                    <!--                    遮罩-->
                    <script>
                    /*要闻*/
                    var oYwSlide = document.getElementById('ywSlide');
                    /*两个图片*/
                    var oImgs2l = getByClass(oYwSlide,'inline fl img2 imgwrap');
                    var oYwShow = getByClass(oYwSlide,'shadow');
                    //                        console.log(oImgs2l);
                    //                        console.log(oShow);
                    for(var i=0;i<oImgs2l.length;i++){
                    oImgs2l[i].index = i;
                    oImgs2l[i].onmouseover = function(){
                    startMove(oYwShow[this.index],{height:110});
                    }
                    oImgs2l[i].onmouseout = function(){
                    startMove(oYwShow[this.index],{height:0});
                    }
                    }
                    </script>
                    <!--                    要闻结束-->


                    <!--                    委员会客厅开始-->
<!--
                    <div class="wrap wyhktSlide" id="wyhktSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/wyhkt.jpg" alt="">
                        </a>
                        <div class="main">
                            <div class="imgs">
                                <a class="inline fl img4 imgwrap" href="javascript:void;" target="_blank">
                                    <img src="../../images/2017zt/20170303qglh/170x110.jpg" alt="">
                                    <div class="shadow">
                                        <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                                    </div>
                                </a>
                                <a class="inline fl img4 imgwrap" href="javascript:void;" target="_blank">
                                    <img src="../../images/2017zt/20170303qglh/170x110.jpg" alt="">
                                    <div class="shadow">
                                        <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                                    </div>
                                </a>
                                <a class="inline fl img4 imgwrap" href="javascript:void;" target="_blank">
                                    <img src="../../images/2017zt/20170303qglh/170x110.jpg" alt="">
                                    <div class="shadow">
                                        <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                                    </div>
                                </a>
                                <a class="inline fl img4 imgwrap" href="javascript:void;" target="_blank">
                                    <img src="../../images/2017zt/20170303qglh/170x110.jpg" alt="">
                                    <div class="shadow">
                                        <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
-->
                    <!--                    遮罩-->
<!--
                    <script>
                        var oWyhktSlide = document.getElementById('wyhktSlide');
                        var oImgs4l = getByClass(oWyhktSlide,'inline fl img4 imgwrap');
                        var oWyhktShow = getByClass(oWyhktSlide,'shadow');
                        for(var i=0;i<oImgs4l.length;i++){
                            oImgs4l[i].index = i;
                            oImgs4l[i].onmouseover = function(){
                                startMove(oWyhktShow[this.index],{height:110});
                            }
                            oImgs4l[i].onmouseout = function(){
                                startMove(oWyhktShow[this.index],{height:0});
                            }
                        }
                    </script>
-->
                    <!--                    委员会客厅结束-->

                    <!--                    原创开始-->
                    <div class="wrap ycSlide" id="ycSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/yc.jpg" alt="">
                        </a>
                        <div class="main">
                            <!--本网特稿-->
                            <div class="bwtgSlide bw">
                                <a class="miniCatalog" href="javascript:void();" target="_blank">本网特稿</a>
                                <ul class="list">
                                    <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                    <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                    <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                </ul>
                            </div>
                            <!--本网原创-->
                            <div class="bwycSlide bw">
                                <a class="miniCatalog" href="javascript:void();" target="_blank">本网原创</a>
                            </div>
                            <ul class="list">
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                            </ul>
                        </div>
                    </div>


                    <!--原创结束-->

                    <!--                    现场-->
                    <div class="wrap xcSlide" id="xcSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/xc.jpg" alt="">
                        </a>
                        <div class="main">
                            <a class="inline wrapLink" href="javascript:void();" target="_blank">
                                <img src="../../images/2017zt/20170303qglh/xcimg.jpg" alt="">
                                <div class="inline fontShadow"><span>在十二届全国人大四会议记者会上李克</span></div>
                            </a>
                        </div>
                    </div>
                    <!--现场结束-->



                    <!--                    发布会-->
                    <div class="wrap fbhSlide" id="fbhSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/fbh.jpg" alt="">
                        </a>
                        <div class="main">
                            <ul class="list">
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <br>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--发布会结束-->




                    <!--                    报告厅-->
                    <div class="wrap bgtSlide" id="bgtSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/bgt.jpg" alt="">
                        </a>
                        <div class="main">

                            <ul class="list">
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <br>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                            </ul>

                        </div>
                    </div>
                    <!--报告厅结束-->


                    <!--                    共商国是-->
                    <div class="wrap gsgsSlide" id="gsgsSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/gsgs.jpg" alt="">
                        </a>
                        <div class="main">

                            <ul class="list">
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强</a></li>
                                <li><a href="javascript:void();">在十二届全国人大四次会议记者会上李克强总理</a></li>
                            </ul>

                        </div>
                    </div>
                    <!--共商国是结束-->

                    <!--                    策划-->
                    <div class="wrap chSlide" id="chSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/ch.jpg" alt="">
                        </a>
                        <div class="main">

                            <!--两个竖的图片-->
                            <div class="imgs">
                                <div class="inline fl">
                                    <a class="inline img2H imgwrap" href="javascript:void;" target="_blank">
                                        <img src="../../images/2017zt/20170303qglh/zwgkx.jpg" alt="">
                                        <!--                                    蓝色遮罩-->
                                        <div class="shadow">
                                            <p class="inline">在十二届全国人大四次 会议记者会上李克</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="inline fr">
                                    <a class="inline img2H imgwrap" href="javascript:void;" target="_blank">
                                        <img src="../../images/2017zt/20170303qglh/zwgkx.jpg" alt="">
                                        <!--                                    蓝色遮罩-->
                                        <div class="shadow">
                                            <p class="inline">曹建明作最高人民检察
                                                院工作报工作报告</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--                    遮罩-->
                    <script>
                        /*策划*/
                        var oChSlide = document.getElementById('chSlide');
                        /*两个竖图片*/
                        var oImgs2H = getByClass(oChSlide,'inline img2H imgwrap');
                        var oChShow = getByClass(oChSlide,'shadow');
                        //                        console.log(oImgs2l);
                        //                        console.log(oShow);
                        for(var i=0;i<oImgs2H.length;i++){
                            oImgs2H[i].index = i;
                            oImgs2H[i].onmouseover = function(){
                                startMove(oChShow[this.index],{height:176});
                            }
                            oImgs2H[i].onmouseout = function(){
                                startMove(oChShow[this.index],{height:0});
                            }
                        }
                    </script>

                    <!--策划结束-->


                    <!--                    图解-->
                    <div class="wrap tjSlide" id="tjSlide">
                        <a class="inline catalog" href="javascript:void();" target="_blank">
                            <img src="../../images/2017zt/20170303qglh/tj.jpg" alt="">
                        </a>
                        <div class="main">
                            <div class="inline fl box">
                                <!--蓝色背景-->
                                <div class="imgBg bgl">
                                    <a class="inline imglink" href="javascript:void();" target="_blank"><img src="../../images/2017zt/20170303qglh/lhdsj.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="inline fr box">
                                <!--黄色背景-->
                                <div class="imgBg bgh">
                                    <a class="inline imglink" href="javascript:void();" target="_blank"><img src="../../images/2017zt/20170303qglh/shengyi.jpg" alt=""></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    尾部-->
        <div id="footer">
            <img class="footerImg" src="../../images/2017zt/20170303qglh/detailfooter.jpg" alt="">
        </div>
    </body>
</html>