<style media="screen">
	* {
		padding: 0;
		margin: 0;
	}
	.slide {
		position: relative;
		width: 400px;
		height: 400px;
		overflow: hidden;
	}
	ul.slide-items {
		position: absolute;
		width: 400px;
		height: 400px;
		top: 0;
		left: 0;
	}
	ul.slide-items li {
		position: absolute;
		top: 0;
		left: 0;
		width: 400px;
		height: 400px;
		display: none;
		overflow: hidden;
	}
	ul.slide-control {
		width: 400px;
		height: 10px;
		margin-top: 50px;
	}
	ul.slide-control li {
		list-style-type: none;
		float: left;
		width: 50px;
		height: 10px;
		margin: 0 3px;
		background-color: rgb(228, 228, 228);
	}
	ul.slide-control li.active {
		background-color: rgb(118, 134, 138);
	}
	ul.slide-control li.active p {
		height: 10px;
		width: 0;
		background-color: rgb(61, 70, 64);
	}
	.slide dl.option {
		position: absolute;
		width: 100%;
	}
	.slide dl.option dt,
	.slide dl.option dd {
		font-size: 36px;
		margin-top: 48%;
	}
	.slide dl.option a {
		text-decoration: none;
		color: #ddd;
	}
	.slide dl.option dt {
		float: left;
	}
	.slide dl.option dd {
		float: right;
	}
</style>
<div class="slide" id="slide">
	<ul class="slide-items">
		<li class="" style="display: block;"><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133558me3cx9lh5h5lhohc.png 

			"/></li>
		<li class=""><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133556j9zsqxr1yxix7z0r.png 

			"/></li>
		<li class=""><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133551a37j6moyp587bmd6.jpg 

			"/></li>
		<li class=""><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133551oqp166zbjvvyvkye.jpg 

			"/></li>
		<li class=""><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133551egh8dty91jhh5y4g.jpg 

			"/></li>
		<li class=""><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133551lzbmwbtsmm8w1nmn.jpg 

			"/></li>
		<li class=""><img alt="" width="400" src="http://cdn.attach.w3cfuns.com/notes/pics/201604/12/133552gbi0gsojdj7prz44.png 

			"/></li>
	</ul>
	<dl class="option">
		<dt>
			<a href="javascript:;"></a>
		</dt>
		<dd>
			<a href="javascript:;"></a>
		</dd>
	</dl>
</div>
<ul class="slide-control" id="progress">
	<li page-data="0" class="active">
		<p></p>
	</li>
	<li page-data="1">
		<p></p>
	</li>
	<li page-data="2">
		<p></p>
	</li>
	<li page-data="3">
		<p></p>
	</li>
	<li page-data="4">
		<p></p>
	</li>
	<li page-data="5">
		<p></p>
	</li>
	<li page-data="6">
		<p></p>
	</li>
</ul>
